body {
   /* Background pattern from Toptal Subtle Patterns */

   background-image: url("images/tur.jpg");
   height: 400px;
}
#collapsibleNavbar{
  /* Background pattern from Toptal Subtle Patterns */

  background-image: url("images/tur.jpg");

}
.jumbotron
{
  /* Background pattern from Toptal Subtle Patterns */

  background-image: url("images/tur.jpg");

}
footer
  /* Background pattern from Toptal Subtle Patterns */

{  background-image: url("images/tur.jpg");

}
.navbar { background-image: url("images/tur.jpg");}

a {
  color: #006ce0;
}

.btn-info {
  background-color:	PowderBlue;
  border-color:	PowderBlue;
}


.btn-info:hover {
  background-color:LightSteelBlue;
}

.column {
  position: relative;
  width: 100%;
}

.quote, .author {
  background-color: antiquewhite;
  color: #222;
  padding: 4px 8px;
  border-radius: 5px;
  font-style: italic;
}

.author {
  font-size: 80%;
}

.card-margin {

  margin: auto 15px;
  max-width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
}

.menu {
  font-size: larger;
  margin: 0 auto;
  text-transform: uppercase;
}

.menu-item {
  padding: 5px 15px;
  border: 1px solid transparent;
  letter-spacing: 0.02em;
}

.menu-item:after, .menu-item:before {
  display: block;
  content: '';
  border-bottom: 1px solid #00cd1d;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover:after, .menu-item:hover:before {
  transform: scaleX(1);
}

.nav-link {
  padding: 1.2rem;
}

.active-item > a {
  color: #00cd1d;
}

.section-title {
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #1853ff;
  text-align: center;
}

.main-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #00cd1d;
  width: 75%;
  margin: 20px auto;
}

.about-staff {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: aliceblue;
  border-radius: 5px;
}

.img-staff {
  width: 100%;
  border-radius: 4px;
}

.staff-title {
  font-weight: 400;
  font-size: 1.3rem;
  border-bottom: 1px dashed #ffe118;
  padding-bottom: 7px;
}

.row-margin {
  margin-right: 10%;
  margin-left: 10%;
}

.img, .img-left, .img-right {
  max-width: 400px;
  width: 100%;
  margin: 3px 10px;
  border: 5px solid #e6f3ff;
  padding: 3px;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.services-link {
  color: inherit;
}

.services-link:hover {
  text-decoration: none;
  color: inherit;
}

.services {
  background-color: #128091;
}

.services:hover {
  background-color: #0e626f;
}

.social-icons {
  float: right;
  word-spacing: 10px;
}

table {
  margin: 30px auto;
  min-width: 30%;
}

td, th {
  padding: 15px;
  border-left: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
}

thead {
  border-bottom: 1px solid #8ac8ff;
  border-top: 1px solid #8ac8ff;
  background-color: aliceblue;
}

tbody tr {
  border-bottom: 1px dotted #ffe118;
}

footer {
  padding: 20px 0px 10px 0px;
  font-size: smaller;
  background-color: #f8f9fa;
  margin-top: 20px;
  border-top: 1px solid #dae0e5;
}

#slidebox {
  width: 230px;
  height: 170px;
  background-color: aliceblue;
  color: inherit;
  border: 1px solid #1853ff;
  border-radius: 10px 80px;
  padding: 15px;
  z-index: 10;
  -webkit-box-shadow: -3px -3px 30px 4px #A6A6A6;
  box-shadow: -3px -3px 30px 4px #A6A6A6;
}

.call-icon {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.call-icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: 2s;
}

.animate {
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
}

.slideIn {
  animation-name: slideIn;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.questions {
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-family: 'Kanit', sans-serif;
}

.question-icon {
  color: #1853ff;
}

.call-text {
  font-family: 'Kanit', sans-serif;
}

#close {
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }
  .carousel-caption {
    margin-bottom: 0px;
  }
  .carousel-caption p {
    margin-bottom: 0.2rem;
  }
  .quote, .author {
    font-size: 0.7rem;
    padding: 3px 7px;
  }
  .author {
    font-size: 0.5rem;
    padding: 2px 6px;
  }
  .carousel-caption {
    padding-bottom: 0px;
    left: 7%;
    right: 7%;
    bottom: 2px;
  }
  .row-margin {
    margin-right: 3%;
    margin-left: 3%;
  }
  .img, .img-left, .img-right {
    margin: 0;
  }
  h1 {
    font-size: 2rem;
  }
  .owl-theme .owl-dots .owl-dot {
    display: none;
  }
  .owl-carousel .owl-nav button.owl-prev {
    font-size: 50px;
    margin-right: 10px;
  }
  .owl-carousel .owl-nav button.owl-next {
    font-size: 50px;
    margin-left: 10px;
  }
}
.contact-form{

  width: 85%;
  height:600px;

  max-width: 500px;
  background: #f1f1f1;
  position: relative;
  top: 300px;
  left: 50%;

  transform: translate(-50%,-50%);
  padding: 10px 10px 40px 10px;
  box-sizing:border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;

}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #9b59b6;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}


@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	background-color:#eef8ff;
}
a{
	text-decoration:none;
}
.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
 
